@import url('fonts.css');

#root { width: 100%; height: 100%; }

.group-devices {
    
}

.display-none {
    display: none;
}

.dashboard-header-title{
    font-size: 32px;
    color: var(--ha-50);
}

.switches-title{
    margin-top: -20px;
    margin-bottom: -30px;
}

.energy-usage-summary-section-title{
    font-size: 16px;
    color: var(--ha-900)
}

.dashboard-header-subtitle{
    font-size: 16px;
    color: var(--ha-50)
}

.title-emphasis{
    font-size: 96px;
    color: var(--ha-50);
}

.time-range-text{
    font-size: 24px;
    color: var(--ha-900)
}

.date-range-header-text{
    font-size: 32px;
    color: var(--ha-900)
}

.date-range-header-label{
    font-size: 16px;
    color: var(--ha-900)
}

.date-range-button-text{
    font-size: 16px;
    color: var(--ha-900)
}

.device-value-text{
    font-weight: 700;
    font-size: 28px;
    color: var(--ha-500)
}

.card-title-text{
    font-weight: 700;
    font-size: larger;
    color: var(--ha-500)
}

.details-header {
    font-weight: 700;
    font-size: medium;
    color: var(--ha-500)
}

.details-body {
    font-weight: 400;
    font-size: small;
    font-style: italic;
    color: var(--ha-500)
}

.appliance-card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.appliance-card-details-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 10px;
}

.appliance-card{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    padding: 25px;
    gap: 10px;

    width: 25vw;

    border-radius: 25px;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
    gap: 10px
}

.appliance-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;

    gap: 10px;
    padding: 15px;
}

.switch-card-details-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    gap: 25px;
}

.switch-card-details-measurements{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    gap: 15px;
    padding-left: 1px;
}

.switch-card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 10px;
}

.switch-card-switch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 10px;
}

.switch-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 40px;
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 35px;

    border-radius: 25px;
    min-width: 25vw;
}

.switches-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;

    gap: 10px;
    padding: 15px;
}

.device-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    min-width: 15%;
    gap: 10px;

    border-radius: 25px;
}

.device-value-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
}

.device-unit{
    margin-top: -10px;
}

.device-card-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
    gap: 15px;

    width: 100%;
    height: 35%;
}

.energy-usage-summary-title{
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    font-weight: 700;
    font-size: 20px;
    color: var(--ha-900);
    padding-left: 30px;
}

.energy-usage-summary-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 20px;

    height: 60%;
}

.energy-usage-summary-section{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    padding: 15px;
    padding-bottom: 100px;
    padding-top: 25px;

    background-color: var(--ha-S50);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.insights-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.energy-details-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-top: 5px;
    gap: 25px;
}

.time-range-display-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-left: 15px;
    margin-right: 15px;
}

.time-range-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 50vw;
}

.date-range-container{
    /* position: absolute; */
    display: flex;
    flex: 1;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    
    margin: 15px;
    margin-top: 25%;
    overflow-y: scroll;
    padding-top: 25px;
    padding-bottom: 25px;
    
    background-color: var(--ha-50);

    border-radius: 15px;
}

.date-range-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    padding-left: 30px
}

.date-range-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    padding-right: 30px;
    gap: 10px
}

.date-range-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.calendar-pressable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--ha-S500);
    padding: 5px;
    border-radius: 10px;
    /* box-shadow: 0 0 7px 2px var(--ha-S900); */
}

.calendar-pressable:active {
    background-color: var(--ha-S200);
}
  
.date-picker-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 20px
}

.energy-usage-graph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.energy-usage-graph-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-left: 15;
    padding-right: 15;
}

.dashboard-container {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    margin-top: 50px;
    overflow-y: 'hidden';
    gap: 70px
}

.no-data-component {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.bottom-navigation-container{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 0px;
    position: relative;
}

.header-bg-container{
    display: flex;
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
}

.alt-logo-container{
    display: flex;
    position: absolute;
    top: 40px;
    left: 30px;
    /* align-self: stretch;
    justify-content: start;
    padding: 15px; */
    /* top: 15;
    left: 15; */
    z-index: -1;
    /* width: 100%; */
}

.screen-header{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-top: 40px;
    padding-bottom: 40px;
}

.screen-general-container{
    position: relative;
    display: flex;
    flex: 1 0 0;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-self: stretch;

    padding: 15px;
    margin-top: 50px;

    overflow-y: 'hidden';
}

.screen-general-centered{
    justify-content: space-between;
    gap: 5vw
}

.dashboard-header{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    padding-left: 30px;
}

.dashboard-margin{
    margin-top: 40px;
}

.switches-header-margin{
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    .appliance-card{
        width: 45vw;
    
        border-radius: 25px;
        /* flex: 1 0 0 */
    }

    .dashboard-container{
        gap: 35px;
    }

    .switch-card{
        flex: 1 0 0;
        min-width: auto;
    }

    .device-card{
        flex: 0 0 auto;
        height: 100%;
        min-width: 40%;
    
        background-color: red;
        border-radius: 25px;
    }
    
    .device-card-group{
        justify-content: flex-start;
        align-self: stretch;
        overflow: auto;
        gap: 20px;
    
        padding: 25px;
        width: 100%;
        height: 30%;
    }

}

@media only screen and (max-width: 600px) {
    .appliance-card{
        min-width: 185px;
    
        border-radius: 25px;
    }

    .switch-card{
        flex: 1 0 0;
        min-width: auto;
    }   

    .switches-group{
        gap: 25px
    }

    .screen-general-centered{
        gap: 25vw;
    }
}

@media only screen and (max-width: 390px) {
    .appliance-card{
        min-width: 100vw;
    
        border-radius: 25px;
    }

    .switch-card{
        flex: 1 0 0;
        min-width: auto;
    }

    .device-card{
        flex: 0 0 auto;
        height: 100%;
        min-width: 40%;
    
        background-color: red;
        border-radius: 25px;
    }
    
    .device-card-group{
        justify-content: flex-start;
        align-self: stretch;
        overflow: auto;
        gap: 20px;
    
        padding: 25px;
        width: 100%;
        height: 40%;
    }
}

p {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: hidden;
}